<h1> Welcome to StoryBooks</h1>
<p style="position:relative; left:70%" >  by Sheng Chen </p>
<p> Choose to post your funny, happy, bizarre or sad stories here!! Whether you want the world to share it, or you wanna just keep it like a diary for yourself, StoryBooks is the place to go!</p>

{{#if user}}
	
{{else}}
	<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login With Google</a>

{{/if}}