<h4> Welcome to Story Board!</h4>
<p style="font-size:130%"> Choose to post your funny, wacky, or bizarre stories here!! Whether you want the whole world to share it, or just keep it to yourself, StoryBooks is the place to go!</p>


{{#if user}}
	
{{else}}
<br>
	<a href="/auth/google" class="right btn red darken-1"><i class="fa fa-google left"></i>Login With Google</a>

{{/if}}
<br><br>
  <div class="carousel carousel-slider">
    <a class="carousel-item" ><img src="http://www-scf.usc.edu/~chen654/h2.jpg"></a>
    <a class="carousel-item" ><img src="http://www-scf.usc.edu/~chen654/h4.jpg"></a>
    <a class="carousel-item" ><img src="http://www-scf.usc.edu/~chen654/h5.jpg"></a>
  </div>
